<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Form</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="static/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="static/css/style.css">
</head>


<body>

    <div id="sticky-header" class="dreamit_nav_manu-two">
		<div class="container">
			<div class="row align-items-center">
				<!-- <div class="col-lg-3">
					<div class="logo">
						<a class="logo_img" href="#" title="dreamit">
							<img src="static/assets/images/drowzy.png" alt="logo">
						</a>
					</div>
				</div> -->
				<div class="col-lg-9">
					<nav class="dreamit_menu-two">
						<ul class="nav_scroll">
                            <a href="/" style="text-decoration: none; font-weight: bold; color: darkblue; font-size:large;">Home</a>
							<!-- <a href="/" class="custom-link">Home</a> -->
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>

    <section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="static/images/signin-image.jpg" alt="sing up image"></figure>
                
            </div>

            <div class="signin-form">
                <h2 class="form-title">Welcome Back</h2>
                <form action="/signin" method="GET" class="register-form" id="login-form">
                    <div class="form-group">
                        <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="user" id="username" placeholder="Your Username" required/>
                    </div>
                    <div class="form-group">
                        <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="password" id="your_pass" placeholder="Password" required/>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                        <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" id="signin" class="form-submit" value="Log in"/>
                    </div>
                    <p style="font-size: large;">Register here! <a href="/logon">Sign Up</a></p>
                </form>
                
            </div>
        </div>
    </div>
</section>
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>